.popup__input {
  width: 358px;
  margin: 0 auto;
  padding: 0;
  margin-left: 36px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  padding-bottom: 13px;
}

@media screen and (max-width: 600px) {
  .popup__input {
    margin-left: 0px;
    width: 238px;
  }
}