.profile__edit {
  margin: 0;
  padding: 0;
  margin-left: 18px;
  margin-top: 37px;
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url("../../../images/edit.svg");
  background-size: 7px 7px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg"), pointer;
}

@media screen and (max-width: 936px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 30px;
  }
}