.popup__close {
  background: rgba(0,0,0,0);
  border: none;
  position: fixed;
  top: 34%;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-image: url("../../../images/close.png");
  width: 36px;
  height: 36px;
}

.popup__close:hover {
  cursor: url("../../../images/pointer.png"), pointer;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close {
    padding-left: 290px;
    width: 20px;
    height: 20px;
  }
}