.elements__like {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
  background-image: url("../../../images/like.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 28px;
  margin-right: 30px;
  padding-left: 20px;
  height: 19px;
  width: 22px;
}

.elements__like:hover {
  cursor: url("../../../images/pointer.png"), pointer;
  opacity: 0.5;
}

.elements__like:active {
  opacity: 1;
  background-image: url("../../../images/like_active.png");
}
