.elements__like {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-self: flex-end;
  margin-bottom: 6px;
  background-color: white;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
  padding-left: 25px;
  height: 19px;
  width: 22px;
}

.elements__like:hover {
  cursor: url("../../../images/pointer.png"), pointer;
  opacity: 0.5;
}

.elements__like:active {
  opacity: 1;
  background-image: url("../../../images/like_active.svg");
}
