.footer__info {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 918px) {
  .footer__info {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 36px;
    margin-left: 19px;
  }
}

